@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  background-color: pink;
  color: black;
  font-weight: 900;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .createPost-conatiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    .top-navbar {
      display: flex;
      gap:2rem;
      .Post-button , .profile-button {
        padding: 0.5rem 1rem;
        background-color: rgb(185, 95, 185);
      }

      .createPost-Link,.profile-Link{
        font-size: 1rem;
        color: white;
        font-weight: 500;
      }
    }
  }

  .feed-container {
    width: 35%;
    border: 2px solid black;
    // padding:0.3rem;
    .posts {
      .post {
        @include flex-column(0.65rem);
        padding: 0.7rem;
        .top {
          display: flex;
          align-items: center;
          gap: 0.65rem;

          img {
            width: 2.3rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
          }
          .followButton {
            background-color: rgba(184, 183, 183, 0.144);
            border: 1.5px solid white;
            font-weight: 700;
            border-radius: 1rem;
            width: 100px;
          }
        }
        .post-area {
          img {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }
        .bottom {
          @include flex-column(0.6rem);

          .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.75rem;
            .left {
              display: flex;
              align-items: center;
              gap: 1rem;

              h6 {
                margin: 0;
                font-size: 1rem;
                color: black;

                svg {
                  width: 2rem;
                  aspect-ratio: 1/1;
                }

                svg.like {
                  color: red;
                  fill: red;
                }
              }
            }

            .right {
              display: flex;
              align-items: center;
              h6 {
                color: black;
                font-size: 1rem;
                svg {
                  width: 2rem;
                  aspect-ratio: 1/1;
                }
              }
            }
          }

          .caption {
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
